p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#item-form.hidden {
  display: none;
}

#item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  font-size: 1.3rem;
}

.form-item {
  display: flex;
  gap: 5px;
}

input:invalid {
  border: 2px solid red;
}

input {
  font-size: inherit;
}

.todo-item {
  font-size: 1.3rem;
  padding: 10px;
}

button {
  border-radius: 10px;
  font-size: 1.4rem;
  color: white;
  background: rgb(73, 162, 192);
  padding: 5px 15px;
}

button#add-new-item {
  width: 250px;
}

.todo-item button {
  font-size: 0.9rem;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  border: 1px solid red;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.expanded-item>div {
  display: flex;
  flex-direction: column;
}
